
        <div class="schedule-container-fluid">
            <div style="text-align: center; margin-bottom: 20px;">
                <img src="assets/cartoon-cat.svg" alt="Cartoon Cat" style="width: 150px; height: 150px;">
            </div>
            <table class="table table-striped">
                <th>Staff</th>
                <tr>Owner/ Head Chef - John Taggart</tr>
                <tr>Manager - Todd Beljan</tr>
                <tr>Events Coordinator - Charlie Craig</tr>
                <tr>Security - Wanda Woo</tr>
               
          </table>
          </div>
 
   
    



